* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: #0b6623;
  color: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('sugar.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #0b6623;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 40px;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #f4f4f4;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
}

.card h3 {
  margin-bottom: 10px;
  color: #0b6623;
}

/* FOOTER */
footer {
  background: #0b6623;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
