.pay-box{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    text-align: center;
}
